<script context="module">
  export async function preload() {
    let data = [];
    const res = await this.fetch("https://kittygram-api.now.sh");
    if (res.status === 200) {
      data = await res.json();
      return { data };
    }

    this.error(404, "Not found");
  }
</script>

<script>
  import Main from "../components/Main.svelte";
  import Timeline from "../components/Timeline.svelte";
  import Sidebar from "../components/Sidebar.svelte";
  export let data;
  let user = { nickname: "Warspite", name: "Queen Elizabeth Class" };
  /* let data = [];
  const api = "https://kittygram-api.now.sh";

  onMount(async () => {
    const response = await fetch(api);
    data = await response.json();
  }); */
</script>

<svelte:head>
  <title>NyaGram</title>
</svelte:head>

<Main>
  <Timeline posts={data.posts} {user} />
  <Sidebar {user} />
</Main>
