<script>
  export let comments = [];
  export let profile;
  export let msg = '';

  function addComment(event) {
    if (msg.length > 3) {
      const message = {
        id: Date.now(),
        text: msg,
        username: profile
      }
      comments = [...comments, message];
      msg = '';
    }
  }
</script>

<style>
  .Comments h3 {
    font-size: 14px;
    color: black;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  .Comments span {
    font-size: 14px;
    margin: 0 0 0 0.5em;
    font-weight: normal;
    color: rgba(black, 0.9);
  }
  .Comments-add {
    padding: 1em 1em 1em 1em;
    border-top: 1px solid rgba(219, 219, 219, 0.8);
  }
  .Comments-add form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .Comments-container {
    padding: 0 1em 0.5em 1em;
  }
  .Comments-user {
    margin: 0 0 0.5em 0;
    display: flex;
  }

  input {
    border: solid 1px #e9e9e9;
    border-radius: 5px;
    color: #696969;
    border: 1px solid transparent;
    font-size: 12px;
    outline: none;
    width: 100%;
    display: flex;
  }
  button {
    border: none;
    color: #3897f0;
    font-size: 12px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
  }
</style>

<div class="Comments">
  <div class="Comments-container">

    {#each comments as comment (comment.id)}
      <div class="Comments-user">
        <h3>{comment.username}</h3>
        <span>{comment.text}</span>
      </div>
    {/each}

    <div class="Comments-add">
      <form on:submit|preventDefault={addComment}>
        <input
          type="text"
          class="Comments-input"
          bind:value={msg}
          placeholder="Agregar comentario..."
          id="text" />
        <button type="submit">Comentar</button>
      </form>
    </div>
  </div>
</div>
