<script>
  const year = new Date().getFullYear();
</script>

<style>
  .Footer {
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: normal;
    color: #c7c7c7;
  }
</style>

<div class="Footer">
  <footer class="Footer-container">
    <i class="far fa-copyright" />
    {year} NYAGRAM from FrenrihrDev.
  </footer>
</div>
