<style>
  .Histories {
    border: 1px solid rgba(219, 219, 219, 1);
    border-radius: 4px;
    margin: 1em 0;
    padding: 0.5em 1em;
    background-color: white;
  }
  .Histories-item img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  .Histories-item {
    display: flex;
    align-items: center;
    margin: 0 0 0.5em 0;
  }
  .Histories-item h2 {
    font-size: 14px;
    color: black;
    margin: 0 0 0 0.5em;
  }
  .Histories-item h2 span {
    display: block;
    font-size: 9px;
    text-transform: uppercase;
    color: gray;
  }
  .Histories-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0 0 0;
  }
  .Histories-head h2 {
    font-size: 12px;
    font-weight: 600;
  }
  .Histories-head span {
    font-size: 12px;
    font-weight: normal;
    color: black;
  }
  .Histories-items {
    margin: 0.5em 0 0.5em 0;
  }
  .Histories-item-box {
    width: 32px;
    height: 32px;
    border: double 2px transparent;
    border-radius: 100%;
    background-image: linear-gradient(#fff, #fff),
      radial-gradient(circle at top left, #f09433, #bc1888);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
</style>

<div class="Histories">
  <div class="Histories-container">
    <div class="Histories-head">
      <h2>Historias</h2>
      <span>Ver más</span>
    </div>
    <div class="Histories-items">
      <div class="Histories-item">
        <div class="Histories-item-box">
            <a href="https://www.zerochan.net/2495857">
                <img
                  src="https://s3.zerochan.net/Warspite.%28Azur.Lane%29.240.2495857.jpg"
                  alt="Warspite (Azur Lane)" />
              </a>
        </div>
        <h2>
          Warspite
          <span>10 horas antes</span>
        </h2>
      </div>
    </div>
  </div>
</div>
