<script>
  import Histories from "./Histories.svelte";
  import Profile from "./Profile.svelte";
  import Footer from "./Footer.svelte";

  export let user = [];
</script>

<style>
  .Sidebar {
    position: relative;
    padding: 4.5em 0 0 0;
  }
  .Sidebar-container {
    position: fixed;
  }
</style>

<div class="Sidebar">
  <div class="Sidebar-container">
    <Profile nickname={user.nickname} name={user.name} />
    <Histories />
    <Footer />
  </div>
</div>
