@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
	--light-theme-body-background: #ebedf0;
    --dark-theme-body-background: #1c1e21;
    --white-color: #fff;
    --black-color: rgba(38, 48, 38, 0.7);
}

body {
    background-color: var(--light-theme-body-background);
    color: var(--black-color);
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}

body.dark-mode {
    background-color: var(--dark-theme-body-background);
    color: var(--white-color);
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}